body::before {
  display: block;
  content: '';
  height: 60px;
}

img {
  width: 100%;
}

.bg-main {
  background: linear-gradient(85deg, rgba(0, 13, 36, 1) 0%, rgba(6, 87, 94, 1) 59%, rgba(0, 86, 94, 1) 100%, rgba(0, 86, 94, 1) 100%, rgba(0, 86, 94, 1) 100%);
}

.bg-sec {
  background: linear-gradient(85deg, rgba(0, 13, 36, 1) 0%, rgba(0, 86, 94, 1) 24%, rgba(212, 252, 255, 1) 100%, rgba(0, 86, 94, 1) 100%, rgba(0, 86, 94, 1) 100%);
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}